@import "_reset.css";

:root {
  --ksu-purple: #5b2a86;
  --lemon-yellow: #faf33e;
  --beau-blue: #bfddf7;
  --raspberry: #dd1155;
  --melon: #ffa69e;
  --main-font: "Alfa Slab One", cursive;
  --alt-font: "Open Sans Condensed", sans-serif;
  --small-band-height: 120px;
  --large-band-height: 240px;
  --number-container-size: 100px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;
}	


#years {
 background: var(--beau-blue);
 position: relative;
display: flex;
z-index: 1;
}	


.yearSelector {
  margin: 4px;
}	


.yearSelector {
  background: transparent;
  border: 3px solid var(--ksu-purple);
  padding: 14px 32px;
  transition: all 0.5s;
}


#backgroungYear {
  color: #fff;
  top: -50px;
  font-family: var(--main-font);
  overflow: hidden;
}


.yearSelector.active,
.yearSelector:hover {
  background: var(--ksu-purple);
  border-color: transparent;
  color: white;
}


#numContainer {
  min-height: var(--large-band-height);
  display: flex;
  justify-content: center;
  padding: 32px;
}


.numbers {
  color: var(--ksu-purple);
  cursor: pointer;
  display: flex;
  width: var(--number-container-size);
}


.numbers::before,
.numbers::after {
  content: "";
  background: var(--lemon-yellow);
  border-radius: 50%;
  left: -5px;	  left: -5px;
}


.numbers::after {
  height: calc(var(--number-container-size) - 30px);
  width: calc(var(--number-container-size) - 30px);
  bottom: 14px;
  left: 16px;
}


#background {
  flex: 1;	  flex: 1;
  background: var(--raspberry);
  overflow: hidden;
  font-size: 72px;	  font-size: 72px;
}


#foodNumber #background {
  color: #fff;
  position: relative;
  font-size: 196px;
  margin: 0 24px 0 100px;
  z-index: 1;
}	


#background #foodNumber::before {
  content: "";
  position: absolute;
  width: 0;
  transform: rotate(20deg);
}


#background #foodItem {
  color: #fff;
  background: var(--ksu-purple);
  width: 400px;
  z-index: 1;
}	


#before {
color: var(--melon);
}


#title {
  background: var(--ksu-purple);
  display: flex;
  flex-direction: column;
  height: var(--small-band-height);
}	


h1 {
  color: #fff;
  font-size: 60px;	  font-size: 60px;
  font-family: var(--main-font);
}